{% extends "base.html" %}

{% block title %}主机管理{% endblock %}
{% block expanded_host %}is-expanded{% endblock %}
{% block active_host_cloud %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-bordered table-hover table-sm" id="platform">
                    <thead class="thead-light">
                        <tr>
                            <th>公网IP</th>
                            <th>内网IP</th>
                            <th>主机名</th>
                            <th>操作系统</th>
                            <th>配置(CPU/内存)</th>
                            <th>架构</th>
                            <th>发现时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
  


                      <form  action="{% url 'host:search' %}" method="GET">
                          
                          <div class="col-md-3"><input type="text" class="form-control" name='ip' placeholder="主机名、IP" required></div>
                          <button class="btn btn-sm btn-primary" type="submit">查询</button>
                          </form>
                          <a href="{% url 'host:add' %}" button type="button" class="btn btn-sm btn-primary">&nbsp;添加</a> 
         
                          
                      

                        {% for object in objects %}
                            <tr>
                                <td>
                                <a href="{% url 'host:detalinfo'  id=object.id %}"  data-id="{{ object.id }}">{{ object.p_ip}}</a>
                                </td>
                                <td>{{ object.ip }}</td>
                                <td>{{ object.name }}</td>
                                <td>{{ object.os }}</td>
                                <td>{{ object.cpu }} 核 / {{ object.mem }} MB</td>
                                <td>{{ object.arch }}</td>
                                <td>{{ object.created_time|date:'Y-m-d H:i:s' }}</td>
                                <td>
                                    <a class="btn btn-sm btn-danger btn-delete" role="button" data-id="{{ object.id }}" data-name="{{ object.ip}}({{ object.name }})" data-toggle="tooltip" title="删除"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <a href="{% url 'host:edit'  id=object.id %}"  data-id="{{ object.id }}" button type="button" class="btn btn-sm btn-sucess" title="编辑"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="{% url 'host:update'  id=object.id %}"  data-id="{{ object.id }}" button type="button" class="btn btn-sm btn-sucess" title="刷新"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="6">暂无数据</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-sm btn-danger  asset_all_del">批量删除</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
jQuery(document).ready(function() {
    jQuery('a.btn-delete').on('click', function() {
        var id = jQuery(this).data("id"), name= jQuery(this).data("name");
        if(confirm("确认删除主机记录:" + name)) {
            window.location.replace("{% url 'host:delete' %}?pk=" + id);
        }
    });
});
{% endblock %}
